<div class="cb-pagination">
    <div class="cb-pagination__sort">
        <p class="cb-pagination__text">Показать:</p>
        <div class="cb-pagination__select">
            <div class="cb-pagination__field">
                <a href="" class="cb-pagination__select-link cb-pagination__select-link--active">10</a>
                <span class="cb-icon cb-icon-chevron cb-icon__size-16">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46857 10.5348L3.46924 6.53085L4.5305 5.47079L7.99929 8.94355L11.4693 5.4707L12.5304 6.53093L8.52975 10.5348C8.38907 10.6756 8.19818 10.7547 7.99914 10.7547C7.80011 10.7547 7.60924 10.6756 7.46857 10.5348Z" fill="currentcolor"/>
                    </svg>
                </span>
            </div>
            <div class="cb-pagination__option">
                <a href="" class="cb-pagination__select-link">25</a>
                <a href="" class="cb-pagination__select-link">50</a>
                <a href="" class="cb-pagination__select-link">100</a>
                <a href="" class="cb-pagination__select-link">200</a>
            </div>
        </div>
    </div>
    <div class="cb-pagination__display">
        <p class="cb-pagination__length"><span class="cb-pagination__current">10</span> из <span class="cb-pagination__max">256</span></p>
    </div>
    <div class="cb-pagination__list">
        <a class="cb-pagination__link is-disabled">
            <span class="cb-pagination__icon cb-icon cb-icon-arrow-left cb-icon__size-24">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.81731 12.7492L11.0289 16.939L9.97105 18.0024L4.47105 12.531C4.32955 12.3902 4.25 12.1989 4.25 11.9993C4.25 11.7997 4.32955 11.6083 4.47105 11.4676L9.97105 5.99609L11.0289 7.05951L6.81737 11.2492L20 11.2492L20 12.7492L6.81731 12.7492Z" fill="currentColor"/>
                </svg>
            </span>
        </a>
        <a class="cb-pagination__link is-active">1</a>
        <a class="cb-pagination__link">2</a>
        <a class="cb-pagination__link is-hidden">3</a>
        <a class="cb-pagination__link is-hidden">4</a>
        <a class="cb-pagination__link is-hidden">5</a>
        <div class="cb-pagination__link cb-pagination__link--dots">
            <a class="cb-pagination__dots">...</a>
            <div class="cb-pagination__dots-wrapper">
                <button class="cb-pagination__dots-button cb-pagination__dots-button--top is-disabled">
                    <span class="cb-icon cb-icon-chevron-bt cb-icon__size-16">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46857 10.5348L3.46924 6.53085L4.5305 5.47079L7.99929 8.94355L11.4693 5.4707L12.5304 6.53093L8.52975 10.5348C8.38907 10.6756 8.19818 10.7547 7.99914 10.7547C7.80011 10.7547 7.60924 10.6756 7.46857 10.5348Z" fill="currentcolor"/>
                        </svg>
                    </span>
                </button>
                <div class="cb-pagination__dots-list">
                    <a href=" " class="cb-pagination__dots-link">6</a>
                    <a href=" " class="cb-pagination__dots-link">7</a>
                    <a href=" " class="cb-pagination__dots-link">8</a>
                    <a href=" " class="cb-pagination__dots-link">9</a>
                    <a href=" " class="cb-pagination__dots-link">10</a>
                </div>
                <button class="cb-pagination__dots-button cb-pagination__dots-button--bottom">
                    <span class="cb-icon cb-icon-chevron-bt cb-icon__size-16">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46857 10.5348L3.46924 6.53085L4.5305 5.47079L7.99929 8.94355L11.4693 5.4707L12.5304 6.53093L8.52975 10.5348C8.38907 10.6756 8.19818 10.7547 7.99914 10.7547C7.80011 10.7547 7.60924 10.6756 7.46857 10.5348Z" fill="currentcolor"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <a class="cb-pagination__link">26</a>
        <a class="cb-pagination__link">
            <span class="cb-pagination__icon cb-icon cb-icon-arrow-right cb-icon__size-24">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1827 12.7492L12.9711 16.939L14.029 18.0024L19.5289 12.531C19.6704 12.3902 19.75 12.1989 19.75 11.9993C19.75 11.7997 19.6704 11.6083 19.5289 11.4676L14.0289 5.99609L12.9711 7.05951L17.1826 11.2492L4 11.2492L4 12.7492L17.1827 12.7492Z" fill="currentColor"/>
                </svg>
            </span>
        </a>
    </div>
</div>
