// General
$base-gutter: 8px;

// Color --------------
$active-item: #1D5DEB;
$azzurro-alice: #EDF2FE;
$bg-disable: #D1D5DF;
$blu-selvaggio: #9DACCE;
$blu-digitale: #4D83FA;
$background: #FAFCFF;
$blue-traffico: #053B75;
$ciottoli: #E1E1E1;
$divider: #99B1E6;
$error-highlight: rgba(#EE3F58, 0.16);
$foglia-di-acero: #FF8A00;
$gosblue: #0D4CD3;
$gosred: #EE3F58;
$green-sea: #16A086;
$granito-fresco: #EFF5F9;
$giallo-brillante: #FED13E;
$giallo-selezionato: #F8B200;
$giovani-steli: #DDF5E7;
$input: #F5F7FA;
$mandorle-pelate: #fef0cc;
$nephritis: #2DC36A;
$osso-grigio: #ECF0F8;
$pulsante-premuto: #0B40B3;
$pervinca: #E5EAF5;
$petalo-rosa: #FCD9DE;
$pino-verde: #12826E;
$summer-night: #0B1F33;
$shadow: #E6EBF5;
$text-helper: #66727F;
$tela-rossa: #E11432;
$telegrey-scuro: #86909C;
$tagline: #E4ECFD;
$tagline-hit: rgba(#1D5DEB,0.18);
$white: #ffffff;

// Breakpoints ------------
$extra-tablet-width: 1439px;
$tablet-width: 899px;
$mobile-width: 767px;
