<div class="cb-menu" style="right: revert; top: 0;">
    <a href="" class="cb-menu__link">Сделать одно</a>
    <a href="" class="cb-menu__link">Сделать другое</a>
    <a href="" class="cb-menu__link">Выполнить пятое</a>
    <a href="" class="cb-menu__link">Пропустить десятое</a>
    <a href="" class="cb-menu__link">Или что-то ещё</a>
    <button class="cb-menu__button-close">
        <span class="cb-icon cb-icon-close cb-icon__size-24">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9394 12.9976L4.99805 18.9389L6.0587 19.9996L12.0001 14.0582L17.9414 19.9996L19.0021 18.9389L13.0607 12.9976L19.0015 7.05676L17.9408 5.99609L12.0001 11.9369L6.05927 5.99609L4.99861 7.05676L10.9394 12.9976Z" fill="currentColor"/>
            </svg>
        </span>
    </button>
</div>
