<div class="cb-filter">
    <div class="cb-filter__header">
        <p class="cb-filter__headline">Название фильтра</p>
        <button class="cb-filter__btn-close">
            <span class="cb-icon cb-icon-close cb-icon__size-24">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9394 12.9976L4.99805 18.9389L6.0587 19.9996L12.0001 14.0582L17.9414 19.9996L19.0021 18.9389L13.0607 12.9976L19.0015 7.05676L17.9408 5.99609L12.0001 11.9369L6.05927 5.99609L4.99861 7.05676L10.9394 12.9976Z" fill="currentColor"/>
                </svg>
            </span>
        </button>
    </div>
    <div class="cb-filter__item">
        <div class="cb-select">
            <p class="cb-select__label">Label – Plain Small</p>
            <div class="cb-select__value">
                <div class="cb-select__field">
                    <p class="cb-select__input">Dropdown item – Plain Text</p>
                    <div class="cb-select__group-icon">
                        <span class="cb-select__item cb-icon cb-icon-dropdown cb-icon__size-24">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.29537 10.7195C5.90154 10.3261 5.90154 9.68836 6.29537 9.29501C6.68919 8.90166 7.3277 8.90166 7.72152 9.29501L12.7131 14.2805C13.1069 14.6739 13.1069 15.3116 12.7131 15.705C12.3193 16.0983 11.6807 16.0983 11.2869 15.705L6.29537 10.7195Z" fill="currentColor"/>
                                <path d="M16.2785 9.29516C16.6723 8.90181 17.3108 8.90181 17.7046 9.29516C18.0985 9.68851 18.0985 10.3263 17.7046 10.7196L12.7131 15.705C12.3193 16.0983 11.6807 16.0983 11.2869 15.705C10.8931 15.3116 10.8931 14.674 11.2869 14.2807L16.2785 9.29516Z" fill="currentColor"/>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="cb-select__option">
                    <div class="cb-select__option-item">
                        <div class="cb-select__option-item-wrapper">
                            <span class="cb-select__option-text">First item</span>
                        </div>
                    </div>
                    <div class="cb-select__option-item">
                        <div class="cb-select__option-item-wrapper">
                            <span class="cb-select__option-text">Item</span>
                        </div>
                    </div>
                    <div class="cb-select__option-item">
                        <div class="cb-select__option-item-wrapper">
                            <span class="cb-select__option-text">Item</span>
                        </div>
                    </div>
                    <div class="cb-select__option-item">
                        <div class="cb-select__option-item-wrapper">
                            <span class="cb-select__option-text">Item</span>
                        </div>
                    </div>
                    <div class="cb-select__option-item">
                        <div class="cb-select__option-item-wrapper">
                            <span class="cb-select__option-text">Item</span>
                        </div>
                    </div>
                    <div class="cb-select__option-item">
                        <div class="cb-select__option-item-wrapper">
                            <span class="cb-select__option-text">Item</span>
                        </div>
                    </div>
                    <div class="cb-select__option-item">
                        <div class="cb-select__option-item-wrapper">
                            <span class="cb-select__option-text">Item</span>
                        </div>
                    </div>
                    <div class="cb-select__option-item">
                        <div class="cb-select__option-item-wrapper">
                            <span class="cb-select__option-text">Last item</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="cb-select__helper">Helper text – Plain Small</p>
        </div>
        div>
    </div>
    <div class="cb-filter__item">
        <div class="cb-search-field has-symbol">
            <label class="cb-search-field__label">Введите номер (УИН)</label>
            <div class="cb-search-field__field">
                <input class="cb-search-field__input" type="text">
                <div class="cb-search-field__group-icon">
                    <span class="cb-search-field__item cb-icon cb-icon-search cb-icon__size-24">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
    <div class="cb-filter__item">
        <div class="cb-datepicker">
            <p class="cb-datepicker__label">Начало (месяц, год)</p>
            <div class="cb-datepicker__value">
                <div class="cb-datepicker__field">
                    <input type="text" class="cb-datepicker__input" tabindex="-1">
                    <div class="cb-datepicker__group-icon cb-datepicker__group-icon--calendar">
                        <span class="cb-datepicker__icon cb-icon cb-icon-calendar cb-icon__size-24">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.2 4.875H17.55V3.75C17.55 3.375 17.25 3 16.8 3C16.425 3 16.05 3.3 16.05 3.75V4.875H7.875V3.75C7.875 3.375 7.575 3 7.125 3C6.75 3 6.375 3.3 6.375 3.75V4.875H4.8C3.825 4.875 3 5.625 3 6.675V19.2C3 20.175 3.825 21 4.8 21H19.2C20.175 21 21 20.175 21 19.2V6.675C21 5.625 20.175 4.875 19.2 4.875ZM7.2 7.2C7.575 7.2 7.95 6.9 7.95 6.45V6.3H16.125V6.45C16.125 6.825 16.425 7.2 16.875 7.2C17.25 7.2 17.625 6.9 17.625 6.45V6.3H19.2C19.425 6.3 19.65 6.525 19.65 6.75V8.475H4.425V6.75C4.425 6.525 4.65 6.3 4.875 6.3H6.45V6.45C6.45 6.825 6.75 7.2 7.2 7.2ZM19.575 19.125C19.575 19.35 19.35 19.575 19.125 19.575H4.875C4.65 19.575 4.425 19.35 4.425 19.125V13.65V9.975H19.575V19.125Z" fill="currentColor"/>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="cb-datepicker__dropdown">
                    <div class="cb-datepicker__dropdown-header">
                        <div class="cb-datepicker__select">
                            <div class="cb-datepicker__select-field">
                                <p class="cb-datepicker__select-input">Сентябрь</p>
                                <div class="cb-datepicker__group-icon">
                                    <span class="cb-icon cb-icon-arrow-triangle cb-icon__size-24">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 14.5L8.96891 10.75L15.0311 10.75L12 14.5Z" fill="currentColor"/>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="cb-datepicker__select-option">
                                <div class="cb-datepicker__select-wrapper">
                                    <p class="cb-datepicker__select-item">Январь</p>
                                    <p class="cb-datepicker__select-item is-hover">Февраль</p>
                                    <p class="cb-datepicker__select-item">Март</p>
                                    <p class="cb-datepicker__select-item">Апрель</p>
                                    <p class="cb-datepicker__select-item">Май</p>
                                    <p class="cb-datepicker__select-item">Июнь</p>
                                    <p class="cb-datepicker__select-item">Июль</p>
                                    <p class="cb-datepicker__select-item">Август</p>
                                    <p class="cb-datepicker__select-item">Сентябрь</p>
                                    <p class="cb-datepicker__select-item">Октябрь</p>
                                    <p class="cb-datepicker__select-item">Ноябрь</p>
                                    <p class="cb-datepicker__select-item">Декабрь</p>
                                </div>
                            </div>
                        </div>
                        <div class="cb-datepicker__select">
                            <div class="cb-datepicker__select-field">
                                <p class="cb-datepicker__select-input">2020</p>
                                <div class="cb-datepicker__group-icon">
                                    <span class="cb-icon cb-icon-arrow-triangle cb-icon__size-24">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 14.5L8.96891 10.75L15.0311 10.75L12 14.5Z" fill="currentColor"/>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="cb-datepicker__select-option">
                                <div class="cb-datepicker__select-wrapper">
                                    <p class="cb-datepicker__select-item">2022</p>
                                    <p class="cb-datepicker__select-item">2021</p>
                                    <p class="cb-datepicker__select-item">2020</p>
                                    <p class="cb-datepicker__select-item">2019</p>
                                    <p class="cb-datepicker__select-item">2018</p>
                                    <p class="cb-datepicker__select-item">2017</p>
                                    <p class="cb-datepicker__select-item">2016</p>
                                    <p class="cb-datepicker__select-item">2015</p>
                                    <p class="cb-datepicker__select-item">2014</p>
                                    <p class="cb-datepicker__select-item">2013</p>
                                    <p class="cb-datepicker__select-item">2012</p>
                                    <p class="cb-datepicker__select-item">2011</p>
                                </div>
                            </div>
                        </div>
                        <div class="cb-datepicker__group-icon">
                            <span class="cb-icon cb-icon-arrow-bold-rigth cb-icon__size-24">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.2107 4.39382C9.70499 3.86873 8.88503 3.86873 8.3793 4.39382C7.87357 4.91892 7.87357 5.77027 8.3793 6.29536L14.7893 12.9508C15.295 13.4759 16.115 13.4759 16.6207 12.9508C17.1264 12.4257 17.1264 11.5743 16.6207 11.0492L10.2107 4.39382Z" fill="currentcolor"/>
                                    <path d="M8.3795 17.7046C7.87376 18.2297 7.87376 19.0811 8.3795 19.6062C8.88523 20.1313 9.70519 20.1313 10.2109 19.6062L16.6207 12.9508C17.1264 12.4257 17.1264 11.5743 16.6207 11.0492C16.115 10.5241 15.2952 10.5241 14.7895 11.0492L8.3795 17.7046Z" fill="currentcolor"/>
                                </svg>
                            </span>
                            <span class="cb-icon cb-icon-arrow-bold-left cb-icon__size-24">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.7893 19.6062C14.295 20.1313 15.115 20.1313 15.6207 19.6062C16.1264 19.0811 16.1264 18.2297 15.6207 17.7046L9.21072 11.0492C8.70499 10.5241 7.88503 10.5241 7.3793 11.0492C6.87357 11.5743 6.87357 12.4257 7.3793 12.9508L13.7893 19.6062Z" fill="currentcolor"/>
                                    <path d="M15.6205 6.29537C16.1262 5.77027 16.1262 4.91892 15.6205 4.39382C15.1148 3.86873 14.2948 3.86873 13.7891 4.39382L7.3793 11.0492C6.87357 11.5743 6.87357 12.4257 7.3793 12.9508C7.88503 13.4759 8.70479 13.4759 9.21053 12.9508L15.6205 6.29537Z" fill="currentcolor"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="cb-datepicker__calendar-dates">
                        <div class="cb-datepicker__week">
                            <span class="cb-datepicker__week-item">пн</span>
                            <span class="cb-datepicker__week-item">вт</span>
                            <span class="cb-datepicker__week-item">ср</span>
                            <span class="cb-datepicker__week-item">чт</span>
                            <span class="cb-datepicker__week-item">пт</span>
                            <span class="cb-datepicker__week-item">сб</span>
                            <span class="cb-datepicker__week-item">вс</span>
                        </div>
                        <ul class="cb-datepicker__dates">
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">1</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">2</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">3</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-current-date ">
                                <span class="cb-datepicker__dates-text">4</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">5</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">6</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">7</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">8</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">9</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">10</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">11</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">12</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">13</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">14</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">15</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">16</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">17</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">18</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">19</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">20</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">21</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">22</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">23</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">24</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">25</span>
                            </li>
                            <li class="cb-datepicker__dates-item">
                                <span class="cb-datepicker__dates-text">26</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-disabled">
                                <span class="cb-datepicker__dates-text">27</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-disabled">
                                <span class="cb-datepicker__dates-text">28</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-disabled">
                                <span class="cb-datepicker__dates-text">29</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-disabled">
                                <span class="cb-datepicker__dates-text">30</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-disabled">
                                <span class="cb-datepicker__dates-text">31</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                            <li class="cb-datepicker__dates-item is-empty">
                                <span class="cb-datepicker__dates-text">&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cb-filter__item">
        <div class="cb-text-field">
            <label class="cb-text-field__label">Label – Plain Small</label>
            <div class="cb-text-field__value">
                <input class="cb-text-field__input" type="text">
                <div class="cb-text-field__group-icon">
                    <span class="cb-icon cb-icon-clear cb-icon__size-24">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
    <div class="cb-filter__item">
        <button class="cb-button">Перейти</button>
    </div>
</div>
