@import "../../UI-Kit/variables/_cb-variables.scss";

.cb-button {
  //opacity: 0;
  transition: .2s ease-in-out;
 }

.comments-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments-page {
  &__header {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: $base-gutter * 3;
    margin-bottom: 64px;
    &-row {
      display: flex;
      justify-content: space-between;
    }
  }
  &__buttons {
    column-gap: $base-gutter * 2;
    display: flex;
  }
  &__container {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  &__link-back {
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.47115 11.4695L13.9711 6L15.0289 7.06361L10.0636 12.0013L15.0289 16.9389L13.9711 18.0025L8.47115 12.5331C8.32959 12.3923 8.25 12.2009 8.25 12.0013C8.25 11.8016 8.32959 11.6102 8.47115 11.4695Z' fill='%230D4CD3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    color: $gosblue;
    padding-left: $base-gutter * 3;
    text-decoration: none;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: -$base-gutter * 6.25;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
  }
  &__inner {
    align-items: start;
    column-gap: $base-gutter * 5;
    display: grid;
    grid-template-columns: $base-gutter * 79 $base-gutter * 61;
    justify-content: space-between;
  }
  &__input {
    display: none;
    &:checked+.comments-page__input-span{
      color: $pulsante-premuto;
    }
  }
  &__input-span {
    color: #66727f;
    cursor: pointer;
    &:hover {
      color: $gosblue;
    }
  }
  &__col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: $base-gutter * 4;
    &.is-sticky {
      position: sticky;
      top: 100px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: $base-gutter * 4;
    &.is-first-col {
      margin-left: -$base-gutter * 8;
      width: 100%;
    }
  }
  &__item {
    align-items: start;
    column-gap: $base-gutter * 2;
    display: grid;
    grid-template-columns: $base-gutter * 3 1fr;
    padding: $base-gutter * 3;
    transition: .2s ease-in-out;
    &:hover {
      border-radius: $base-gutter * 1.5;
      box-shadow: 0px 24px 48px rgba(230, 235, 245, 0.4), 0px 1px 4px #E3EBFC;
      background-color: $white;
      & .comments-page__item-row.is-action {
        opacity: 1;
      }
      & .comments-page__item-chat {
        opacity: 1;
      }
      & .cb-button {
        opacity: 1;
      }
    }
    &-header {
      align-items: flex-start;
      color: $gosblue;
      column-gap: $base-gutter;
      display: flex;
      justify-content: space-between;
    }
    &-status {
      background-repeat: no-repeat;
      background-position: center center;
      height: $base-gutter * 3;
      width: $base-gutter * 3;
      .is-ok & {
        background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C7.30558 20.5 3.5 16.6944 3.5 12C3.5 7.30558 7.30558 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM11.061 15.5704L17.561 9.17681L16.439 8.03613L10.5047 13.8733L8.06571 11.4343L6.93434 12.5657L9.93434 15.5657C10.2449 15.8763 10.7479 15.8784 11.061 15.5704Z' fill='%232DC36A'/%3E%3C/svg%3E");

      }
      .is-warning & {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C7.30558 20.5 3.5 16.6944 3.5 12C3.5 7.30558 7.30558 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12.6977 13.5781H11.2977L11.0737 10.602V7.19995H12.9217V10.602L12.6977 13.5781ZM12.9217 17H11.0737V15.068H12.9217V17Z' fill='%23F8B200'/%3E%3C/svg%3E");
      }
      .is-error & {
        background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C7.30558 20.5 3.5 16.6944 3.5 12C3.5 7.30558 7.30558 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM7.46903 15.4702L10.9393 12L7.46903 8.52967L8.53097 7.4703L12 10.9393L15.469 7.47028L16.531 8.52967L13.0606 12L16.531 15.4704L15.469 16.5297L12 13.0606L8.53096 16.5296L7.46903 15.4702Z' fill='%23EE3F58'/%3E%3C/svg%3E");
      }
    }

    &-col {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter;
    }
    &-title {
      color: $summer-night;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }
    &-chat {
      transition: .2s ease-in-out;
      opacity: 0;
    }
    &-body {
      margin-bottom: 32px;
      display: block;
    }
    &-text {
      color: $text-helper;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.is-action {
        column-gap: $base-gutter * 2;
        justify-content: flex-end;
        //opacity: 0;
        transition: .2s ease-in-out;
      }
    }
    &-input-radio {
      display: none;
      &:checked + span{
        color: $gosblue;
      }
    }
    &-label-radio {
      color: $blu-digitale;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: $gosblue;
      }
    }
  }
  &__comment {
    display: flex;
    flex-direction: column;
    row-gap: $base-gutter;
    &-header {
      align-items: center;
      column-gap: $base-gutter;
      display: flex;
    }
    &-label {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &-value {
      background-color: $azzurro-alice;
      border-radius: $base-gutter * 2.5;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      padding: $base-gutter * 0.25 $base-gutter * 2;
    }
    &-time {
      color: $text-helper;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
    &-body {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter;
    }
    &-row {
      display: flex;
      justify-content: space-between;
    }
    &-author {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
    &-text {
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: $text-helper;
      display: -webkit-box;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      overflow: hidden;
    }
  }
  &__card {
    box-sizing: border-box;
    border-radius: $base-gutter * 1.5;
    background-color: $white;
    box-shadow: 0 1px 4px #E3EBFC;
    display: flex;
    flex-direction: column;
    padding: $base-gutter * 3;
    row-gap: $base-gutter * 2;
    width: 100%;
    &-title {
      color: $summer-night;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin: 0;
    }
    &-header {
      color: $gosblue;
      display: flex;
      justify-content: space-between;
      .is-inner & {
        align-items: center;
        border-bottom: 1px solid $pervinca;
        padding-bottom: $base-gutter * 2;
      }
    }
    &-description {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter;
    }
    &-subtitle {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }
    &-text-helper {
      color: $text-helper;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &-info {
      //border-bottom: 1px solid $pervinca;
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter;
      //padding-bottom: $base-gutter * 2;
    }
    &-row {
      align-items: center;
      color: $gosblue;
      column-gap: $base-gutter;
      display: flex;
      &.is-space-between {
        justify-content: space-between;
      }
    }
    &-link {
      cursor: pointer;
      color: $gosblue;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      text-decoration: none;
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter * 2;
    }
    &-link-back {
      box-sizing: border-box;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.47115 11.4695L13.9711 6L15.0289 7.06361L10.0636 12.0013L15.0289 16.9389L13.9711 18.0025L8.47115 12.5331C8.32959 12.3923 8.25 12.2009 8.25 12.0013C8.25 11.8016 8.32959 11.6102 8.47115 11.4695Z' fill='%230D4CD3'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      color: $gosblue;
      display: flex;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding-left: $base-gutter * 3;
      text-decoration: none;
      cursor: pointer;
    }
    &-edit {
      color: $gosblue;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    row-gap: $base-gutter * 2;
    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter;
    }
    &-item {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: start;
        &.is-link {
          grid-template-columns: $base-gutter * 37 1fr;
        }
    }
    &-label {
        align-items: baseline;
        color: $text-helper;
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        width: $base-gutter * 22;
        &::before {
            content: "";
            border-bottom: 1px dashed #D9D9D9;
            flex-grow: 1;
            order: 1;
            margin: 0 $base-gutter;
        }
    }
    &-value {
        color: #0B1F33;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        word-break: break-word;
        & + & { margin-top: $base-gutter * 3 }
        &:last-child {
          grid-column: 2/-1;
        }
        &-link {
            color: $gosblue;
            text-decoration: none;
        }
    }
  }
  &__experts {
    display: flex;
    flex-direction: column;
    &-item {
      align-items: center;
      column-gap: $base-gutter * 3;
      display: grid;
      grid-template-columns: auto 1fr auto;
      padding: $base-gutter * 2 0;
    }
    &-icon {
      align-items: center;
      background-color: $petalo-rosa;
      border-radius: 100%;
      color: rgba($blue-traffico, 0.6);
      display: flex;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      justify-content: center;
      height: $base-gutter * 5;
      width: $base-gutter * 5;
    }
    &-text {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter * 0.5;
    }
    &-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &-subtitle {
      color: $text-helper;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
    &-link {
      color: $gosblue;
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      text-decoration: none;
      &.is-point {
        position: relative;
        &::before {
          content: "";
          border-radius: 100%;
          background-color: $gosred;
          border: 1px solid $white;
          height: $base-gutter;
          left: -4px;
          position: absolute;
          top: 0;
          width: $base-gutter;
        }
      }
    }
  }
  &__files {
    display: flex;
    flex-direction: column;
    row-gap: $base-gutter * 2;
    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter * 2;
    }
    &-item {
      column-gap: $base-gutter * 4;
      display: grid;
      grid-template-columns: auto 1fr auto;
      padding: $base-gutter * 2 0;
    }
    &-text {
      justify-self: start;
    }
    &-link {
      color: $gosblue;
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      text-decoration: none;
    }
    &-time {
      color: $text-helper;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
    &-action {
      color: $gosblue;
      column-gap: $base-gutter;
      display: flex;
    }
  }
  &__informer {
    box-sizing: border-box;
    border-radius: $base-gutter * 1.5;
    background-color: $white;
    border: 1px solid transparent;
    column-gap: $base-gutter * 2;
    display: flex;
    padding: 22px;
    width: 488px;
    //padding: $base-gutter * 2 $base-gutter * 4 $base-gutter * 2 $base-gutter * 4;
    //height: 100%;
    &.is-positive {
      border-color: $nephritis;
    }
    &.is-negative {
      border-color: $gosred;
    }
    &-status {
      color: $nephritis;
      .is-positive & {
        color: $nephritis;
      }
      .is-negative & {
        color: $gosred;
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter * 0.5;
    }
    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &-author, &-time {
      color: $text-helper;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0
    }
  }
  &__quiz {
    background-color: $white;
    border-radius: $base-gutter * 1.5;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px #E3EBFC, 0px 24px 48px rgba(230, 235, 245, 0.4);
    color: $gosblue;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: $base-gutter * 2;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: $base-gutter * 3 $base-gutter * 4;
    text-decoration: none;
    width: 100%;
    &.is-point {
      position: relative;
      &::before {
        content: "";
        border-radius: 100%;
        background-color: $gosred;
        border: 1px solid $white;
        height: $base-gutter;
        left: $base-gutter * 2.75;
        position: absolute;
        top: $base-gutter * 2.75;
        width: $base-gutter;
      }
    }
    &-inner {
      border-radius: $base-gutter;
      background-color: $white;
      .is-custom & {
        bottom: $base-gutter * 3;
        left: $base-gutter * 3;
        position: absolute;
        z-index: 100;
        width: calc(100% - 64px);
      }
    }
    &.is-custom {
      position: relative;
      min-height: $base-gutter * 29.5;
    }
    @media (max-width: $mobile-width) {
        padding: $base-gutter * 2;
    }
    &:hover {
        background-color: $azzurro-alice;
    }
    &.is-color {
      background-color: $azzurro-alice;
    }
    &.is-disabled {
        background-color: $pervinca;
        color: $telegrey-scuro;
        cursor: default;
        user-select: none;
    }
    &:active {
        background-color: rgba($gosblue, 0.18);
        &.is-disabled {
          background-color: $pervinca;
        }
    }
    &-title {
        column-gap: $base-gutter;
        display: flex;
        justify-content: space-between;
        margin: 0;
        word-break: break-word;
    }
    &-subtitle {
        color: $text-helper;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        margin-top: $base-gutter;
        word-break: break-word;
        .is-disabled & {
            color: $telegrey-scuro;
        }
    }
    &-list {
        list-style-type: disc;
        margin-top: $base-gutter * 0.5;
        margin-bottom: 0;
        padding-left: $base-gutter * 3;
    }
    &-item {
        box-sizing: border-box;
        color: $text-helper;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
  }
  &__dialogue {
    display: flex;
    flex-direction: column;
    row-gap: $base-gutter * 3;
    &-text {
      color: $text-helper;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      padding-bottom: $base-gutter;
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter * 3;
    }
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter;
    }
    &-headline {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      margin: 0;
    }
    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      margin-right: auto;
    }
    &-header {
      align-items: center;
      display: flex;
      column-gap: $base-gutter;
    }
    &-time {
      color: $text-helper;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
    &-comment {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
    &-body {
      display: flex;
      flex-direction: column;
      row-gap: $base-gutter;
      //padding-left: $base-gutter * 4;
    }
    &-link {
      color: $gosblue;
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      text-decoration: none;
    }
    &-author {
      background-repeat: no-repeat;
      background-position: center center;
      height: $base-gutter * 3;
      width: $base-gutter * 3;
      .is-ok & {
        background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C7.30558 20.5 3.5 16.6944 3.5 12C3.5 7.30558 7.30558 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM11.061 15.5704L17.561 9.17681L16.439 8.03613L10.5047 13.8733L8.06571 11.4343L6.93434 12.5657L9.93434 15.5657C10.2449 15.8763 10.7479 15.8784 11.061 15.5704Z' fill='%232DC36A'/%3E%3C/svg%3E");

      }
      .is-warning & {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C7.30558 20.5 3.5 16.6944 3.5 12C3.5 7.30558 7.30558 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12.6977 13.5781H11.2977L11.0737 10.602V7.19995H12.9217V10.602L12.6977 13.5781ZM12.9217 17H11.0737V15.068H12.9217V17Z' fill='%23F8B200'/%3E%3C/svg%3E");
      }
      .is-error & {
        background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C7.30558 20.5 3.5 16.6944 3.5 12C3.5 7.30558 7.30558 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM7.46903 15.4702L10.9393 12L7.46903 8.52967L8.53097 7.4703L12 10.9393L15.469 7.47028L16.531 8.52967L13.0606 12L16.531 15.4704L15.469 16.5297L12 13.0606L8.53096 16.5296L7.46903 15.4702Z' fill='%23EE3F58'/%3E%3C/svg%3E");
      }
    }
  }
}
