.cb {
    &-table {
        display: block;
        @media (max-width: $mobile-width) {
            &__row {
                display: flex;
                flex-direction: column;
                &--header {
                    display: none;
                }
            }
        }
        &__wrapper {
            border-radius: 16px;
            box-sizing: border-box;
            background-color: $white;
            display: inline-block;
            padding: $base-gutter * 3;
            @media (max-width: $mobile-width) {
                width: 100%;
            }
        }
        &__data {
            box-sizing: border-box;
            border-collapse: collapse;
            font-family: 'Lato', 'Arial', sans-serif;
            @media (max-width: $mobile-width) {
                width: 100%;
            }
        }
        &__th {
            border-bottom: 1px solid #d1d5e0;
            color: $text-helper;
            font-family: 'Lato', 'Arial', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: $base-gutter * 2;
            word-break: break-word;
        }
        &__td {
            box-sizing: border-box;
            color: $summer-night;
            font-family: 'Lato', 'Arial', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: $base-gutter * 2;
            text-align: center;
            word-break: break-word;
            &--years {
                text-align: left;
            }
            @media (max-width: $mobile-width) {
                display: flex;
                justify-content: space-between;
                width: 100%;
                &::before {
                    content: attr(data-label);
                    font-weight: 700;
                }
            }
        }
    }
}
