<div class="cb-table">
    <div class="cb-table__wrapper">
        <table class="cb-table__data">
            <tr class="cb-table__row cb-table__row--header">
                <th class="cb-table__th">Год выхода</th>
                <th class="cb-table__th">Данные 1</th>
                <th class="cb-table__th">Данные 2</th>
            </tr>
            <tr class="cb-table__row">
                <td data-label="Год выхода " class="cb-table__td cb-table__td--years">с января 2020</td>
                <td data-label="Данные 1 " class="cb-table__td">55,5</td>
                <td data-label="Данные 2 " class="cb-table__td">60,5</td>
            </tr>
            <tr class="cb-table__row">
                <td data-label="Год выхода " class="cb-table__td cb-table__td--years">с января 2020</td>
                <td data-label="Данные 1 " class="cb-table__td">55,5</td>
                <td data-label="Данные 2 " class="cb-table__td">61,5</td>
            </tr>
            <tr class="cb-table__row">
                <td data-label="Год выхода " class="cb-table__td cb-table__td--years">2024</td>
                <td data-label="Данные 1 " class="cb-table__td">58</td>
                <td data-label="Данные 2 " class="cb-table__td">63</td>
            </tr>
            <tr class="cb-table__row">
                <td data-label="Год выхода " class="cb-table__td cb-table__td--years">2026</td>
                <td data-label="Данные 1 " class="cb-table__td">58</td>
                <td data-label="Данные 2 " class="cb-table__td">63</td>
            </tr>
            <tr class="cb-table__row">
                <td data-label="Год выхода " class="cb-table__td cb-table__td--years">2028</td>
                <td data-label="Данные 1 " class="cb-table__td">58</td>
                <td data-label="Данные 2 " class="cb-table__td">63</td>
            </tr>
        </table>
    </div>
</div>
